* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#container {
    width: 1240px;
    height: 1754px;
    margin: 0 auto;
    position: relative;
    color: #FCFEFB;
    background-image: url(images/bg-2.png);
}

/* #content-holder {
    width: auto;
    max-width: 1050px;
    height: auto;
    background-color: red;
    position: relative;
    margin: 0 auto;
} */

.date {
    position: absolute;
}

.top-left-line {
    width: 10px;
    height: 225px;
    position: absolute;
    left: 121px;
    background: #FCFEFB;
}

.full-date {
    position: absolute;
    top: 134px;
    left: 149px;
}

.name {
    width: 165px;
    height: 65px;
    position: absolute;
    top: 140px;
    right: 172px;
}

.box1 {
    width: 25px;
    height: 25px;
    background-color: #FCFEFB;
    position: absolute;
    top: 147px;
    right: 385px;
}

.box2 {
    width: 25px;
    height: 25px;
    background-color: #FCFEFB;
    position: absolute;
    top: 147px;
    right: 353px;
}

.box3 {
    width: 25px;
    height: 25px;
    background-color: #FCFEFB;
    position: absolute;
    top: 181px;
    right: 353px;
}

.top-right-line {
    width: 110px;
    height: 10px;
    position: absolute;
    top: 147px;
    right: 91px;
    background-color: #FCFEFB;
}

.middle-top-line {
    width: 675px;
    height: 10px;
    position: absolute;
    top: 386px;
    right: 91px;
    background-color: #FCFEFB;
    z-index: 0;
}

.sur {
    width: 535px;
    height: 165px;
    position: absolute;
    top: 430px;
    left: 115px;
    /* background-color: red; */
    font-size: 85px;
    z-index: 2;
}

.shoe {
    width: 671px;
    height: 405px;
    position: absolute;
    top: 371px;
    right: 113px;
    background-image: url(images/shoes.png);
    z-index: 1;
    animation-name: animateImg;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    /* animation-iteration-count: infinite; */
}

/* @keyframes animateImgOne {
    from {
        transform: scale(0);
        /* use scale to transform from the center */
        /* the default transformation starts from the top-left corner (pivot point) */
        /* transform: rotate(0); 

    to {
        transform: scale(1); 
        transform: rotate(60deg); 
    }
} */

.moon {
    width: 399px;
    height: 377px;
    position: absolute;
    top: 671px;
    left: 202px;
    background-image: url(images/moon.png);
    z-index: 3;
    animation-name: animateImg;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    /* animation-iteration-count: infinite; */
}

/* @keyframes animateImgTwo{
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
} */

.real {
    width: 500px;
    height: 120px;
    position: absolute;
    top: 760px;
    right: 158px;
    font-size: 70px;
    z-index: 4;
}

.ism {
    width: 460px;
    height: 150px;
    position: absolute;
    bottom: 528px;
    left: 113px;
    font-size: 85px;
    z-index: 5;
}

.pineapple {
    width: 591px;
    height: 645px;
    position: absolute;
    bottom: 327px;
    right: 210px;
    background-image: url(images/pineapple.png);
    background-repeat: no-repeat;
    z-index: 6;
    animation-name: animateImg;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    /* animation-iteration-count: infinite; */
}

/* @keyframes animateImgThree {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
} */

@keyframes animateImg {
    from {
        transform: scale(0) rotate(0);
    }

    to {
        transform: scale(1) rotate(60deg);
    }
}

.middle-bottom-line {
    width: 675px;
    height: 10px;
    position: absolute;
    bottom: 480px;
    left: 116px;
    background-color: #FCFEFB;
    z-index: 5;
}

.bottom-left-line {
    width: 45px;
    height: 10px;
    position: absolute;
    bottom: 285px;
    left: 125px;
    background-color: #FCFEFB;
}

.entry {
    width: 178px;
    height: 59px;
    position: absolute;
    bottom: 215px;
    left: 125px;
}

.bottom-right-line {
    width: 100px;
    height: 10px;
    position: absolute;
    bottom: 370px;
    right: 448px;
    background-color: #FCFEFB;
}

.bottom-right-line2 {
    width: 10px;
    height: 233px;
    position: absolute;
    bottom: 0px;
    right: 590px;
    background-color: #FCFEFB;
}

.exhibition {
    width: 420px;
    height: 280px;
    position: absolute;
    right: 129px;
    bottom: 51px;
}

.exhibition p {
    margin-bottom: 10px;
}