* {margin: 0; padding: 0;}

html, body {
    width: 100%;
    height: 100%;
}

.submission {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}