* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.container-fluid {
    width: 100%;
    height: auto;
    background-color: green;
}

.container {
    width: auto;
    max-width: 900px;
    height: auto;
    background-color: lightgreen;
    margin: 0 auto;
}

/* if elements are to be lined up together, do them in the same code block  */
header h1, ul, ul li{
    color: white;
    display: inline-block;
}

/* only applying padding to the h1 & not anything else */
header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

/* push the links to the right of the header bar */
header ul {
    margin-left: 500px;
}

/* make spaces btwn the lists in the header bar */
header ul li {
    margin: 0 15px;
}

/* .banner must follow the convention of it's parent */
/* IF div.container-fluid THEN div.banner */
/* IF .container-fluid THEN .banner */
.banner {
    height: auto;
    padding: 80px 0;
    text-align: center;
    background-color: skyblue;
}

.banner h1 {
    margin-bottom: 100px;
}

.price-holder {
    width: 50%;
    height: 300px;
    background-color: blue;
    float: left;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

.normal-price {
    background-color: pink;
}

.vip-price {
    background-color: lightyellow;
}